{{!
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}

{{#Codec.DocLines}}
{{{.}}}
{{/Codec.DocLines}}
///
/// Throws a [http.ClientException] if there were problems communicating with
/// the API service. Throws a [ServiceException] if the API method failed for
/// any reason.
{{#Codec.ServerSideStreaming}}
@override
Stream<{{Codec.ResponseType}}> {{Codec.Name}}({{Codec.RequestType}} request) {
  if (isClosed) throw StateError('Service is closed');
  if (_{{Codec.Name}} case final {{Codec.Name}}?) {
    return {{Codec.Name}}(request);
  }
  throw UnsupportedError('{{Codec.Name}}');
}
{{/Codec.ServerSideStreaming}}
{{^Codec.ServerSideStreaming}}
{{#Codec.IsLROGetOperation}}
@override
Future<Operation<T, S>> getOperation<T extends {{Model.Codec.ProtoPrefix}}ProtoMessage, S extends {{Model.Codec.ProtoPrefix}}ProtoMessage>(Operation<T, S> request) async {
  if (isClosed) throw StateError('Service is closed');

  if (_getOperation case final getOperation?) {
    return getOperation(request);
  }
  throw UnsupportedError('getOperation');
}
{{/Codec.IsLROGetOperation}}
{{^Codec.IsLROGetOperation}}
{{#OperationInfo}}
///
/// Returns an [Operation] representing the status of the long-running
/// operation.
///
/// When complete, [Operation.done] will be `true`. If successful,
/// [Operation.responseAsMessage] will contain the operation's result.
{{/OperationInfo}}
@override
Future<{{Codec.ResponseType}}{{#OperationInfo}}<{{Codec.ResponseType}}, {{Codec.MetadataType}}>{{/OperationInfo}}> {{Codec.Name}}({{Codec.RequestType}} request) async {
  if (isClosed) throw StateError('Service is closed');

  if (_{{Codec.Name}} case final {{Codec.Name}}?) {
    return {{Codec.Name}}(request);
  }
  throw UnsupportedError('{{Codec.Name}}');
}
{{/Codec.IsLROGetOperation}}
{{/Codec.ServerSideStreaming}}
