<?xml version='1.0' encoding='UTF-8'?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{.MainModule.GroupID}}</groupId>
  <artifactId>{{.MainModule.ArtifactID}}-parent</artifactId>
  <packaging>pom</packaging>
  <version>{{.MainModule.Version}}</version><!-- {x-version-update:{{.MainModule.ArtifactID}}:current} -->
  <name>Google {{.Name}} Parent</name>
  <description>
    Java idiomatic client for Google Cloud Platform services.
  </description>

  <parent>
    <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-jar-parent</artifactId>
    <version>{{.MonorepoVersion}}</version><!-- {x-version-update:google-cloud-java:current} -->
    <relativePath>../google-cloud-jar-parent/pom.xml</relativePath>
  </parent>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
    <github.global.server>github</github.global.server>
    <site.installationModule>{{.MainModule.ArtifactID}}-parent</site.installationModule>
  </properties>

  <dependencyManagement>
    <dependencies>
      <!-- {x-generated-dependencies-start} -->
      {{- template "managed_dependencies" . }}
      <!-- {x-generated-dependencies-end} -->
    </dependencies>
  </dependencyManagement>

  <modules>
    <!-- {x-generated-modules-start} -->
    {{- template "managed_modules" . }}
    <!-- {x-generated-modules-end} -->
    <module>{{.MainModule.ArtifactID}}-bom</module>
  </modules>

</project>
{{- define "managed_dependencies" }}
{{- range .Modules }}
      <dependency>
        <groupId>{{.GroupID}}</groupId>
        <artifactId>{{.ArtifactID}}</artifactId>
        <version>{{.Version}}</version><!-- {x-version-update:{{.ArtifactID}}:current} -->
      </dependency>
{{- end }}
{{- end }}
{{- define "managed_modules" }}
{{- range .Modules }}
    <module>{{.ArtifactID}}</module>
{{- end }}
{{- end -}}
